<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Все родительские меню</title>
</head>
<body>
    <h1>Начальная страница</h1>
    <p>Здесь показан список всех родительских меню. Вы можете использовать тестовые ссылки ниже для тестирования добавления и удаления элементов меню через админ-панель.</p>
    
    <hr>
    
    <h2>Тестовые ссылки</h2>
    <ul>
        <li><a href="{% url 'test_page' %}">Тестовая страница №1</a></li>
        <li><a href="{% url 'another_test_page' %}">Тестовая страница №2</a></li>
    </ul>
    
    <hr>
    
    <h2>Все родительские меню</h2>
    <ul>
        {% for menu in parent_menus %}
            {% include "menu_items.html" with menu_item=menu %}
        {% endfor %}
    </ul>
    
    <hr>
    
    <a href="{% url 'admin:index' %}">Перейти в админ-панель</a>
    
</body>
</html>
