<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Детали меню: {{ menu_item.name }}</title>
</head>
<body>
    <h2>{{ menu_item.name }}</h2>
    {% if children %}
        <h3>Наследные меню</h3>
        <ul>
            {% for child in children %}
                <li>
                    <a href="{% url 'menu_by_url' child.url %}">{{ child.name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Нет подменю.</p>
    {% endif %}
    <a href="{% url 'all_menus' %}">Вернуться к списку всех меню</a>
</body>
</html>
